
.div{
    height: 200px;
    background: black;
    display: flex;
    width: 800px;
    border:dotted 3px green;
}
.p1{
    height:50px;
    background-color: aqua;
    
    width: 50px;
    margin:75px 375px;
    padding: 20px;

    
    
   
}
/* .p2{
    height:50px;
    background-color: blue;
} */
